doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-with, initial-scale=1.0")
    meta(charset="UTF-8")
    title R7 FrontEnd Test
    link(rel="stylesheet" href="stylesheets/style.css" media="all")
  body
    .List
      .List__Header.Flex
        .List__Header--logo
          img(src='./stylesheets/images/a-fazenda-logo.png' alt='Logo - A Fazenda' title='A Fazenda')
        .List__Header--title.Bold RANKING
      .List__Body

    script(src="javascripts/bundle.js")